[Unit]
Description=Schedule for taking btrfs snapshots of root using btrsnap

[Timer]
Unit=btrsnap-home@%i.service
OnCalendar=%i
Persistent=true

[Install]
WantedBy=timers.target
